PORT=5000
MONGO_URI=mongodb://localhost:27017/sharez-db
JWT_SECRET=your_super_secret_key_change_this
JWT_EXPIRE=7d
ADMIN_EMAIL=admin@sharez.com
ADMIN_PASSWORD=Admin@123
NODE_ENV=development

# Production only — add your Railway URLs here
FRONTEND_URL=https://your-frontend.railway.app
ADMIN_URL=https://your-admin.railway.app
